
/*系统左侧部分css样式 文字颜色灰色 背景浅灰-白色渐变*/
*
/*  
.left{ width:184px; float:left; overflow:hidden;}
.left_title{ color:#fff;background:url(../images/bg_3.gif) repeat-x; height:22px; line-height:22px;border:solid 1px #206292; padding-left:9px; margin-bottom:8px;}
.box_1{ margin-bottom:28px;}
.left_nr li{background:url(../images/dian.gif) no-repeat 13px 6px; padding-left:25px; height:20px; line-height:20px;}
.right{ float:right; width:692px;}
.right_top_img{ text-align:right; padding-bottom:35px;}
.news{
	float:right;
	width:750px;
}
.news_title{
	border-bottom: dashed 1px #84888a;
	width:750px;
	margin-bottom:12px;
}

.bottom{ background:url(../source/bg_8.gif); height:50px; text-align:center; padding-top:15px;}
*/

