

.input_1{background:url(../source/bg_4.gif) no-repeat; width:121px; height:23px; line-height:23px; border:0px;}
.input_2{background:url(../source/bg_5.gif) no-repeat; width:121px; height:23px; line-height:23px; border:0px;}
.input_3{background:url(../source/bg_6.gif) no-repeat; width:64px; height:23px; line-height:23px; border:0px;}
.menu li{padding-left:0px; line-height:20px; list-style-image:url(../source/dian.gif);}